// Define variables for your color scheme

// For example:
$red: #C5283D;
$pale: #FCF2F6;
$yellow: #FFC857;
$orange: #E4572E;
$pink: #FDD4E0;
$gray: #A8B2AB;
$light-gray: #F4F4F4;
$black: #203438;
$blue: #2B4DAD;
$light-blue: #A3D2FF;

